<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>

        <!-- <p>violator_analytics &lt; admin &gt;</p> -->
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark" href="#">Flagged</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark" href="#">Pending</a>
                </li>
            </ul>
            <hr>

            <%for(let i = 0; i < roads.length; i++){%>
                <div class="row listContainer">
                    <div class="col-1">
                        #
                        <%= (1+i) %>
                    </div>
                    <div class="col-11">
                        <p>
                            <%= roads[i].street_name %>
                                <span class="float-right text-muted"> <%= roads[i].speed_range %> </span>
                        </p>
                        <hr>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="nav-link btn btn-outline-dark" href="/roads">View</a>
                    </div>
                </div>
                <%}%>
        </div>

        <%- include('./partials/paginator'); -%>
            <%- include('./partials/footer'); -%>