<%- include('./partials/header.ejs');-%>
    <header>
        <%- include('./partials/nav.ejs');-%>
    </header>
    <main>
        <!-- <div id="content" class="color-block content container-fluid"> -->
        <div class="row">
            <div class="col-md-2">
                <%- include('./partials/sidenav.ejs');-%>
            </div>
            <div class="col-md-10">
                <div class="" id="v-pills-violator-video">
                    <%if(videoData[0].format != "jpg"){%>
                        <video controls width="100%" class="col-12" id="video_pane" src="<%= videoData[0].asset_url %>" type="video/mp4"> .... .... Sorry, your browser doesn't support embedded videos.
                                </video>
                        <%}else{%>
                            <img src="<%= videoData[0].asset_url %>" alt="Image">
                            <%}%>
                                <div class="col-12" id="street_info_pane">
                                    <h1 class="header_styling"> Violator's Information Pane </h1>
                                    <p class="pane_sub_text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                </div>
                <div id="street_view">
                    <h1 class="header_styling"> Street View </h1>
                    <!-- <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <div id="map-view">
                        <!-- map-view -->
                    </div>
                </div>
                <div>
                    <h1 class="header_styling">Information of Registered Driver</h1>
                    <div class="row">
                        <div class="col-3">
                            <img class="violator_image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVjZWJW3dc1AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="profile_img">
                        </div>
                        <div class="col-9">
                            <p>Driver Name: </p>
                            <p>Nationality: </p>
                            <p>Driver Score: </p>
                            <p>Number Violations: </p>
                            <p>Number Violations: </p>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="header_styling">Administrative Actions </h1>
                    <p>This section, allows administrative personnel to revert action that have been sanctioned by the "maakye wo" system after careful human verification.</p>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4 row administrative_user_block">
                            <h3 class="header_styling">Issue Charge Back</h3>
                            <div class="col-8">
                                <p>Click to issue charge back</p>
                                <button class="btn btn-outline-dark">Charge</button>
                            </div>
                            <div class="col-4">
                                <span>Status</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 row administrative_user_block">
                            <h3 class="header_styling">Vehicle flagging</h3>
                            <div class="col-8">
                                <p>Flag Vehicle</p>
                                <button class="btn btn-outline-dark">Flag</button>
                            </div>
                            <div class="col-4">
                                <span>Status</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 row administrative_user_block">
                            <h3 class="header_styling">License suspension</h3>
                            <div class="col-8 ">
                                <p>Suspend Driver's License</p>
                                <button class="btn btn-outline-dark ">Suspend</button>
                            </div>
                            <div class="col-4 ">
                                <span>Status</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </main>
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    </body>

    </html>