<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <!-- <p>violator_analytics &lt; admin &gt;</p> -->
        <!-- <%- include('./partials/list_filter'); -%> -->

        <div class="container">
            <div class="row">
                <% if(roads.length == 0){ %>
                    <%- include('./partials/empty_list'); -%>
                        <% }else{ %>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Occurences</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(let i = 0; i < roads.length; i++){%>
                                        <tr>
                                            <th scope="row">
                                                <%= (1+i) %>
                                            </th>
                                            <td>
                                                <p>
                                                    Street Name:
                                                    <span class="text-muted"> <%= roads[i].street_name %> </span>
                                                    <span class="float-right">Speed Range: <span class="text-muted"> <%= roads[i].speed_range %> </span></span>

                                                </p>
                                                <hr>
                                                <p class="text-muted">
                                                    <%= roads[i].street_name %> is a/an
                                                        <b><%= roads[i].road_type %></b> road, with and average vehicle count of
                                                        <b><%= roads[i].avg_vehicle_count %></b> and a road score of
                                                        <b><%= roads[i].road_score %></b>.
                                                </p>
                                                <a class="nav-link btn btn-outline-dark btn-sm" href="/roads/<%= roads[i]._id %>">View</a>
                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>

                            <%- include('./partials/paginator'); -%>
                                <%}%>
            </div>
        </div>
        <%- include('./partials/footer'); -%>