<%- include('./partials/header.ejs');-%>
    <header>
        <%- include('./partials/nav.ejs');-%>
    </header>
    <main>
        <div class="row">
            <div id="navContent" class="col-md-2">
                <%- include('./partials/sidenav.ejs');-%>
            </div>
            <div id="mainContent" class="col-md-10">

                <div class="mb-3 px-3" id="v-pills-violator-video">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <%if(videoData[0].format != "jpg"){%>
                                    <video controls width="100%" class="col-12" id="video_pane" src="<%= videoData[0].asset_url %>" type="video/mp4"> .... .... Sorry, your browser doesn't support embedded videos.
                                            </video>
                                    <%}else{%>
                                        <img class="d-block survellaince-img" src="<%= videoData[0].asset_url %>" alt="First Slide">
                                        <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide"> -->
                                        <%}%>
                            </div>
                            <!-- <div class="carousel-item">
                                <img class="d-block survellaince-img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block survellaince-img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" alt="Third slide">
                            </div> -->
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="col-12" id="street_info_pane">
                        <h1 class="header_styling"> Violator's Information Pane </h1>
                        <p class="pane_sub_text">
                            Survellaince image, taken of vehicle involved in the traffic violation.
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p>
                                    License Plate:
                                    <span class="text-values float-right text-muted">
                                        <%= license %>
                                    </span>
                                </p>

                                <p>
                                    Event Date:
                                    <span class="text-values float-right text-muted">
                                        <%= vehicleData[0].date_created %>
                                    </span>
                                </p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>
                                    Recorded Speed:
                                    <span class="text-values float-right text-muted">
                                        <%= vehicleData[0].speed %>
                                    </span>
                                </p>

                                <p>
                                    Color:
                                    <span class="text-values float-right text-muted">
                                        <!-- <%= vehicleData[0].color %> -->
                                        Unrecorded
                                    </span>
                                </p>

                            </div>
                            <div class="col-12 col-md-4">
                                <p>
                                    Video ID:
                                    <span class="text-values float-right text-muted">
                                        <%= vehicleData[0].video_id %>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mb-3 px-3" id="street_view">
                    <h1 class="header_styling"> Street View </h1>
                    <p>Google maps street view of the roads on which the traffic violation took place.</p>
                    <hr>
                    <!--Google map-->
                    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                        <iframe src="https://maps.google.com/maps?q=accra&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!--Google Maps-->
                    <a href="/roads/<%= road_id %>"> View Street Details</a>
                </div>


                <div class="mb-3 px-3">
                    <h1 class="header_styling">Information of Registered Driver</h1>
                    <p>Verifiable information, on the owner (and possible driver) of the car from some trusted sources.</p>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <img class="violator_image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVjZWJW3dc1AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="profile_img">
                        </div>
                        <div class="col-5">
                            <p>Driver Name:
                                <span class="float-right text-muted">Unknown</span>
                            </p>
                            <p>Nationality:
                                <span class="float-right text-muted">Unknown</span>
                            </p>
                            <p>Driver Score:
                                <span class="float-right text-muted">Unknown</span>
                            </p>
                            <p>Number Violations:
                                <span class="float-right text-muted">Unknown</span>
                            </p>
                            <p>Number Violations:
                                <span class="float-right text-muted">Unknown</span>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mb-3 px-3">
                    <h1 class="header_styling">Violator Statistics</h1>
                    <p>
                        Data analysis of recorded violations using the car with license number <b>license_number</b> at different points in time.
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2 class="subheader_styling text-left">Line Chart Of Offences</h1>
                                <p class="text-muted">
                                    Line Chart
                                </p>
                                <hr>
                                <!-- line chart -->
                                <canvas id="lineChart"></canvas>
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="subheader_styling text-left">Bar Chart Of Car Speeds</h1>
                                <p class="text-muted">
                                    Bar Chart
                                </p>
                                <hr>
                                <!-- bar chart -->
                                <canvas id="barChart"></canvas>
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="subheader_styling text-left">Line Chart</h1>
                                <p class="text-muted">
                                    Doughnut Chart
                                </p>
                                <hr>
                                <!-- doughnut chart -->
                                <canvas id="doughNutChart"></canvas>
                        </div>
                    </div>
                </div>


                <div class="mb-3 px-3">
                    <h1 class="header_styling">Administrative Actions </h1>
                    <p>This section, allows administrative personnel to revert action that have been sanctioned by the "maakye wo" system after careful human verification.</p>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4 row administrative_user_block">
                            <div class="col-8">
                                <h3 class="header_styling">Issue Charge Back</h3>
                                <p>Click to issue charge back</p>
                                <form action="/issue_charge" method="post">
                                    <input type="hidden" name="action_type">
                                    <input type="hidden" name="_id" value="<%= vehicleData[0]._id %>">
                                    <input class="btn btn-outline-dark btn-sm admin_action_buttons" type="submit" value="Charge">
                                </form>
                            </div>
                            <div class="col-4">
                                <p>Status</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 row administrative_user_block">
                            <div class="col-8">
                                <h3 class="header_styling">Vehicle flagging</h3>
                                <p>Flag Vehicle</p>
                                <form action="/vehicle_flagging" method="post">
                                    <input type="hidden" name="action_type">
                                    <input type="hidden" name="_id" value="<%= vehicleData[0]._id %>">
                                    <input class="btn btn-outline-dark btn-sm admin_action_buttons" type="submit" value="Flag">
                                </form>
                            </div>
                            <div class="col-4">
                                <p>Status</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 row administrative_user_block">
                            <div class="col-8 ">
                                <h3 class="header_styling">License suspension</h3>
                                <p>Suspend Driver's License</p>
                                <form action="/license_suspension" method="post">
                                    <input type="hidden" name="action_type">
                                    <input type="hidden" name="_id" value="<%= vehicleData[0]._id %>">
                                    <input class="btn btn-outline-dark btn-sm admin_action_buttons" type="submit" value="Suspend">
                                </form>
                            </div>
                            <div class="col-4 ">
                                <p>Status</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); -%>
            <!-- Graph Parameter Controllers for violator page-->
            <script>
                // jshint esversion:6
                const lineChartCanvas = document.getElementById("lineChart");

                // creating new linechart
                let lineChart = new Chart(lineChartCanvas, {
                    // type of chart to create
                    type: "line",
                    // data to use, when rendering the chart
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(83, 82, 237, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: 'rgb(255, 99, 132)',
                            data: [0, 10, 5, 2, 20, 30, 45]
                        }]
                    },
                    // configuration options go here
                    options: {}
                });


                const barChartCanvas = document.getElementById("barChart");

                // creating new barChart
                let barChart = new Chart(barChartCanvas, {
                    type: 'bar',
                    data: {
                        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                const doughChart = document.getElementById("doughNutChart");

                const doughNutChart = new Chart(doughChart, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: [10, 20, 30],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.6)',
                                'rgba(54, 162, 235, 0.6)',
                                'rgba(255, 206, 86, 0.6)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ]
                        }],
                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: [
                            'Red',
                            'Yellow',
                            'Blue'
                        ]
                    },
                    options: {}
                });
            </script>
    </footer>

    </body>

    </html>